





{% extends 'userlogin/base.html' %}


{% block content %}
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="" class="form-label">Course</label>
                <input type="text" Required name="course" class="form-control">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Date</label>
                <input type="date" Required name="date" class="form-control">
            </div>
           
            
            <button type="submit" class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="header-links">Download</button>
        </form>
    </div>
{% endblock %}