{% extends 'userlogin/base.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}


{% block content %}
    <div class="container">
            {% if messages %}
           {% for message in messages %}
             <div class="alert alert-{{message.tags}}">{{message}}</div>
           {% endfor %}
         {% endif %}
        <h2>{{user.username}}</h2>
        <h2>{{user.email}}</h2>
            <a href="{% url 'change_password'%}" class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="header-links"> Change Password</a>
            <a href="{% url 'upload_comp'%}" class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="header-links"> Upload via Computer</a>
            <a href="{% url 'upload_webcam'%}" class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="header-links"> Upload via Webcam</a>
    </div>
{% endblock %}